<app-alert [message]="alertMessage" (alertDismissEvent)="clearAlert()"></app-alert>
<div class="container">
  <div class="row">
    <section class="mt-2">
      <form>
        <div class="row m-2 text-center">
          <div class="col">
            <input class="form-control me-2" type="search" placeholder="Filter by template name" (keyup)="onSearch($event)" (search)="onSearch($event)" >
          </div>
          <div class="col-md-auto">
            <button [routerLink]="['/templates/new']" class="btn btn-outline-dark" type="button" title="Add"><i class="bi bi-plus">Add template</i></button>
          </div>
        </div>
      </form>
    </section>

    <div class="card border border-0">
      <div class="card-body">
        <section>
          <app-templates-search-results [results]="results"
                                        [currentPage]="currentPage"
                                        [itemsPerPage]="itemsPerPage"
                                        [totalItems]="totalItems"
                                        (deleteEvent)="onDelete($event)"
                                        (pageChangeEvent)="onPageChange($event)"></app-templates-search-results>
        </section>
      </div>
    </div>
  </div>
</div>
