<app-alert [message]="alertMessage" (alertDismissEvent)="clearAlert()"></app-alert>
<div class="container">
  <div class="row text-end">
    <div class="col">
    </div>
    <div class="col-md-auto">
      <button class="btn btn-close m-1" type="button" title="Back" (click)="onBack()"></button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
        <button class="btn btn-outline-dark m-1" type="button" title="Reload" *ngIf="!isAdd()" (click)="onReload()"><i class="bi bi-arrow-clockwise">Reload</i></button>
        <button class="btn  m-1" [ngClass]="{'btn-warning': modified, 'btn-outline-dark': !modified}" type="button" title="Save" [disabled]="!modified" (click)="onSave()"><i class="bi bi-save">Save</i></button>
        <button class="btn btn-outline-dark m-1" type="button" title="Cancel" [disabled]="!modified" (click)="onCancel()"><i class="bi bi-x">Cancel</i></button>
        <button class="btn btn-outline-danger m-1" type="button" title="Delete" *ngIf="!isAdd()" (click)="onDelete()"><i class="bi bi-x">Delete</i></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-0 p-2">
        <div class="card-header text-center">
          <div class="row m-2">
            <div class="col-auto">
              <label for="templateName" class="col-form-label">Name: </label>
            </div>
            <div class="col">
              <input type="text" class="form-control" [formControl]="nameFC" (change)="onChange()" id="templateName">
            </div>
            <div class="col-auto text-end">
              <button class="btn btn-outline-dark m-1" (click)="addOrRemoveProperties()"
                      type="button" title="Add or remove properties"><i class="bi bi-plus-slash-minus"></i><i>Add or remove properties</i></button>
            </div>
          </div>
        </div>
        <div class="card-body p-0 pt-1">
          <table *ngIf="template" class="table table-striped mb-0">
            <tbody>
              <tr *ngFor="let property of template.properties; let first = first; let last = last; index as i">
                <td class="text-center" style="min-width: 5em;">
                  <span *ngIf="!isIndexToReorder(i)">{{i+1}}</span>
                  <select *ngIf="isIndexToReorder(i)" class="form-select" style="width: auto" (change)="doReorder($event)">
                    <option *ngFor="let property of template.properties; index as j" value="{{j}}" [selected]="isIndexToReorder(j)">{{j+1}}</option>
                  </select>
                  </td>
                <td class="text-center text-nowrap" >
                  <button class="btn border-0 m-0 p-0" (click)="toggleReordering(i)"><i class="bi bi-arrow-down-up"></i></button>
                </td>
                <td class="align-middle w-75 text-break">
                  <a>{{property.name}}</a>
                </td>
                <td class="text-center text-nowrap w-25">
                  {{property.type}}
                </td>
                <td class="text-center" >
                  <button class="btn border-0 m-0 p-0" (click)="removeProperty(property.id)" title="Remove property" style="font-size: 1.5rem"> <i class="bi bi-dash-circle-dotted"></i>  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
