<!--<app-alert [message]="alertMessage" (alertDismissEvent)="clearAlert()"></app-alert>-->
<div class="container">
  <div class="row text-end">
    <div class="col">
    </div>
    <div class="col-md-auto">
      <button class="btn btn-close m-1" type="button" title="Back" (click)="onBack()"></button>
    </div>
  </div>
  <div class="row">
        <section>
          <header class="text-center">Add properties to <b>{{templateState?.template?.name}}</b></header>
          <form>
            <div class="row m-2 text-center">
              <div class="col">
                <input id="searchProperties" class="form-control me-2" type="search" placeholder="Filter by property name"
                       (keyup)="onSearch($event)" (search)="onSearch($event)"  >
              </div>
              <div class="col-md-auto">
                <button class="btn btn-outline-dark" type="button" title="Back to template" (click)="onBack()"><i class="bi bi-list">Back to template</i></button>
              </div>
            </div>
          </form>
        </section>


    <div class="card border border-0">
      <div class="card-body">
        <section>
          <app-template-properties-search-results [results]="results"
                                                  [currentPage]="currentPage"
                                                  [itemsPerPage]="itemsPerPage"
                                                  [totalItems]="totalItems"
                                                  [template]="templateState?.template"
                                                  (removeEvent)="onRemove($event)"
                                                  (addEvent)="onAdd($event)"
                                                  (pageChangeEvent)="onPageChange($event)"></app-template-properties-search-results>
        </section>
      </div>
    </div>
  </div>
</div>
