<!--<app-alert [message]="alertMessage" (alertDismissEvent)="clearAlert()"></app-alert>-->
<div class="container">
  <div class="row text-end">
    <div class="col">
    </div>
    <div class="col-md-auto">
      <button class="btn btn-close m-1" type="button" title="Back" (click)="onBack()"></button>
    </div>
  </div>
  <div class="row">
    <div class="card border border-0">
      <div class="card-body">
        <div class="card-title text-center">
          Add properties to <b>{{templateState?.template?.name}}</b>
        </div>
        <section>
          <form class="d-flex">
            <input id="searchProperties" class="form-control me-2" type="search" placeholder="Filter by property name"
                   (keyup)="onSearch($event)" (search)="onSearch($event)"  >
            <button class="btn btn-outline-dark" type="button" title="Return" (click)="onBack()"><i class="bi bi-list"></i></button>
          </form>
        </section>
      </div>
    </div>
    <div class="card border border-0">
      <div class="card-body">
        <section>
          <app-template-properties-search-results [results]="results"
                                                  [currentPage]="currentPage"
                                                  [itemsPerPage]="itemsPerPage"
                                                  [totalItems]="totalItems"
                                                  [template]="templateState?.template"
                                                  (removeEvent)="onRemove($event)"
                                                  (addEvent)="onAdd($event)"
                                                  (pageChangeEvent)="onPageChange($event)"></app-template-properties-search-results>
        </section>
      </div>
    </div>
  </div>
</div>
